@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');



/*Colors*/

body {
    color:wheat;
    font-family: 'PT Sans', sans-serif;
    font-size: 69px;
}


/*Header*/

/*Body*/

.homepage{
    font-family: 'PT Sans', sans-serif;
    color: #3b853f;
    position: relative;
    text-align: center;
}



.introduction{
    font-family: 'PT Sans', sans-serif;
    color: #cee4cf;
    position: relative;
    text-align: center;
    padding-top: 30px;
     
    
}
.bg-image {
  background-image: url("assets/images/background.jpg"); 
  background-size: cover; 
  height: 651px;
  background-repeat: no-repeat; 
  background-position: center;
  width: 100%;
  margin-top: 0px;
  
}

.portrait{
    border: 3px;
    border-spacing: 2px;
    border-color: solid white;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 30px auto;
    align-content: center;
    background-repeat: no-repeat;
    
    
}
.intr-button{
    padding-top: 20px;
}


.head-text{
    text-align: center;
    position: relative;
    padding-top: 20px;
}

/*Menu*/
.menucontainer {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #1234;
}
 


