@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');



/*Colors*/

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 69px;
    width: 100%;
    height: 100%;
        }


/*Header*/

/*Body*/

.homepage{
    font-family: 'PT Sans', sans-serif;
    color: #3b853f;
    position: relative;
    text-align: center;
}



.introduction{
    font-family: 'PT Sans', sans-serif ;
    color:#fafafa;
    position: relative;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
   font-weight: 400px;
         
    
}


.background {
    background-image: url("../images/bg-img.jpg");
    background-size: cover; 
    height: 651px;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    margin-top: 0px;
    }

 

.portrait{
    border: 6px solid;
    border-spacing: 4px;
    border-color: white;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 30px auto;
    align-content: center;
    background-repeat: no-repeat;
    
    
}
.intr-button{
    padding-top: 20px;
    position: relative;
    margin-left: 0px;
    text-align: center;
}


.head-text{
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.social {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
.social-media {
   list-style: none;
   justify-content: center;
}

.social-media ul{
    display: flex;
}

.social-media li{
    padding: 5px;
    
   
}






/*Menu*/

header{
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
   
}
nav {
     width: 100vw;
     background:black;
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     height: 100%;
     position: relative; 
    
     
     
     
     
     }
ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul li a{
    color: #fafafa;
    text-decoration: none;
}
li a:hover {
  background-color: rgb(19, 63, 36);
  color: white;
}



/*Footer*/

.container-footer {
    background: black;
    position: relative;
    float: center;
    color: #fafafa;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.container-footer a {
    float: right;
    text-align: inherit;
    
}